extends layout
block content
    p="Here are all the contacts"
    ul
        each tyyppi in henkilot
            li= tyyppi.user_name + ', ' + tyyppi.address + ', ' + tyyppi.email
    table
        th="Nimi"
        th="Osoite"
        th="Email"
        each tyyppi in henkilot
            tr
                td=tyyppi.user_name
                td=tyyppi.address
                td=tyyppi.email
    p(id="test", class="moi") "test"